:root {
    --main-color:rgb(74, 188, 193); 
    --secondary-color:rgb(69, 39, 12);
    --background-color: rgb(255, 253, 249);
}

body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
}

#container {
    width: 100vw;
    height: 100vh;
}

#titles {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    color: var(--secondary-color);
    padding-bottom: 20px;
}

h1 {
    font-weight: 900;
    font-size: 4.2vh;
}

h3 {
    font-size: 2.5vh;
}

#val-boxar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-left: 10px;
}

.amne-box {
    border: solid var(--secondary-color) 2px;
    height: 24vh;
    width: 21vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 4.5vh;
    font-family: 'PT Sans', sans-serif;
    color: var(--background-color);
    text-shadow: 2px 2px 4px var(--main-color);
    background-color: rgba(69, 39, 12, 30%);
}