:root {
    --main-color:rgb(74, 188, 193); 
    --secondary-color:rgb(69, 39, 12);
    --background-color: rgb(255, 253, 249);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    background-color: var(--background-color);
    font-family: 'PT sans', sans-serif;

    margin: 0px;
}

.menu {
    background-color: rgba(255, 253, 249, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 63px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
}

.menu a:hover {
    background-color: rgba(74, 188, 193, 0.5);
    color: white;
}

.menu a.active {
    background-color: var(--main-color);
    color: white;
}

#header-bild {
    background-image: url("../bilder/studenter.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0px;
}

#hav-bild {
    background-image: url(../bilder/havet.jpg);
    background-color: #cccccc;
    height: 1800px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

footer{
   
    background-color: rgb(69, 39, 12);
    height: 100px;
    width: 100%;
    padding-top: 1vh;
    
  
}

.footer{
    color: white;
    text-align: right;
    padding-right: 10vw;
    font-size: large;
    
}

.footer:hover{
    color: rgba(32, 186, 197, 0.8);;
}

