:root {
    --main-color:rgb(74, 188, 193); 
    --secondary-color:rgb(69, 39, 12);
    --background-color: rgb(255, 253, 249);
}

body {
    height: 100vh;
    width: 100vw;

    font-family: 'PT sans', sans-serif;
    background-color: var(--background-color);
}

h1 {
    font-size: 50px;
    margin: 30px;
    color: var(--main-color);
}

#val-boxar {
    margin: 30px;
}

.land-box {
    /* height: 180px;
    width: 300px;  */
    width: auto;
    height: auto;


}

#stader {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 1; */

    overflow-x: scroll;
    overflow-y: hidden;

    gap: 30px;
}

/* ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  } */

h2 {
    font-size: 30px;
    font-weight: 100;
}

.stad-box {
    height: 255px;
    width: 340px;
    border: solid black 2px;
}

p {
    text-align: center;
    margin-top: 210px;
    border: solid white 2px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
}