:root {
    --main-color:rgb(74, 188, 193); 
    --secondary-color:rgb(69, 39, 12);
    --background-color: rgb(235, 228, 214);
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;

    background-color: var(--background-color);
    font-family: 'PT sans', sans-serif;
}

/* MENU STYLE */
.menu {
    background-color: rgba(255, 253, 249, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 63px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
}

.menu a:hover {
    background-color: rgba(74, 188, 193, 0.5);
    color: white;
}

.menu a.active {
    background-color: var(--main-color);
    color: white;
}

img{
    width: 35px;
    height: 35px;
  }

/* HEADER STYLE */
#header{
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
}  

#wrapper{
    padding-top: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5vh;
    font-weight: 900;
}

#city.content{
    border: white solid 1px;
    width: auto;
    height: 60px;
    padding: 5px;
    font-size: 4.2vh;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);

}

#content{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 5.2vh;
    font-weight: 900;
}

p.city-name { 
    color: rgb(60, 152, 157);  
    font-weight: 1000;

    text-align: center;
    font-size: 40px;
}


/* bort?
#image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 90vw;
    margin-left: 10vh;
    margin-bottom: 1;
    margin-right: 5px;
}  

.box-image{ 
    height: 20vw;
    width: 25vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    margin: 5px;
  
} 
*/

/* INFO BOX STYLE */
.ta-chansen{
    color: var(--secondary-color);
    font-size: 40px;
    margin-left: 10vw;
    font-family: 'Shrikhand', cursive;
    letter-spacing: 2px;
    font-weight: 500;
}


.city-info{
    margin-right: 9vw;
    margin-left: 9vw;
    border: 1px rgb(74, 188, 193) solid;
    padding: 80px;

    font-size: 18px;
    background-color: rgba(74, 188, 193, 0.2);
    /* border: 1px var(--secondary-color) solid; */
}

#city-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    height: 20vw;
    width: auto;

    margin: 30px;
}

.city-image{
    height: auto;
    width: auto;
}

#annons-box{
    border: solid dimgray 2px;
    height: auto;
    width: 420px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;
    color: dimgray;
    font-size: 4.5vh;
}

/* bort?
 #image {
    display: flex;
} */

/* PROGRAMME BOX STYLE */
#programme-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0;
    margin-bottom: 30px;
}

#programme-title {
    color: var(--main-color);
    font-family: 'Shrikhand', cursive;
    letter-spacing: 2px;
}

#programme-box {
    border: 2px solid var(--secondary-color);
    width: 800px;
    height: 300px;
    background-color: white;

    overflow-y: scroll;
    
}

#programme-box::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
  
#programme-box::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(69, 39, 12, 0.4);
    box-shadow: 0 0 1px rgba(69, 39, 12, 0.4);
    -webkit-box-shadow: 0 0 1px rgba(69, 39, 12, 0.4);
}

.programme-info {
    height: 20px;
    padding-left: 12px;
    transition: 0.5s   
}

.programme-info:nth-child(2n) {
    background-color: gainsboro;
}

.programme-text {
    margin: 0;
}

.programme-info:hover {
height: 30px;
background-color: rgba(0, 0, 0, 0.3);
}


/* bort?
#subjects-header{
    font-size:xx-large;
    color: rgb(34, 221, 221);
    font-family: 'PT Sans', sans-serif;
    margin-left: 10vw;
    margin: 4vw 10vw 2vw;
    margin-top: 10vw;
}

#subject-header{
    height: 5vh;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 1vw;
}

.subject{
    height: 5vh;
    width: 12vw;
    border: black solid 1px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    font-size: large;
   padding: 15px 0 0px;
   
}

.subject:hover{
    background-color: rgb(69, 39, 12);
    color: white;
    cursor: pointer;
}

.subject:active{
    background-color: rgba(32, 186, 197, 0.4);
    color: black;    
    border: 1px rgba(32, 186, 197, 0.4) solid;  
}

#open-subject{
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    height: 50vh;
    width: 80vw;
    border: black solid 1px;
    overflow: scroll;
    margin-bottom: 5vh;

}

.line{
    background-color: rgba(211, 211, 211, 0.792);
    height: 35px;
}

.line:nth-child(even){
    background-color: rgb(255, 253, 249);
} */


/* bort?
#info-wrapper{
    height: 300px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 5vw;
    display: flex;
    justify-content: center;
}

.info-city{
    height: 400px;
    background-color: whitesmoke;
    width: 35vw;
    display: flex;
    align-items: center;
}

.review-city{
    height: 400px;
    background-color: whitesmoke;
    width: 35vw;
    display: flex;
    align-items: center;
} */

/* #text{
    margin: 30px;
} */
#annons-ett{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vh;
    width: 97vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;

    background-color: gray;
    border: solid dimgray 2px;
    color: dimgray;
    font-size: 4.5vh;
}

footer{
    background-color: rgb(69, 39, 12);
    height: 100px;
    width: 100%;
    padding-top: 1vh;
}

.footer{
    color: white;
    text-align: right;
    padding-right: 10vw;
    font-size: large;
    
}

.footer:hover{
    color: rgba(32, 186, 197, 0.8);
}

#sunshine{ -webkit-animation: rotation 4s linear; animation-iteration-count: infinite } @-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(180deg); } }