body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;

    background-color: var(--background-color);
    font-family: 'PT sans', sans-serif;
}

.menu {
    background-color: rgba(255, 253, 249, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 63px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    flex-grow: 1;
}

.menu a:hover {
    background-color: rgba(74, 188, 193, 0.5);
    color: white;
}

.menu a.active {
    background-color: var(--main-color);
    color: white;
}

#image {
    display: flex;

}

#header{
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0px;
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}  

#wrapper{
    padding-top: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    height: 40vh;
    width: 100vw;
}


.content{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5vh;
    font-weight: 900;
}

#city.content{
    border: white solid 1px;
    width: 200px;
    padding: 5px;
    font-size: 4.2vh;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#content{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 5.2vh;
    font-weight: 900;
}

#annons-ett{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 20vh;
    width: 97vw;
    margin: auto;
    margin-top: 10px;
}

#subjects-header{
    font-size:xx-large;
   color: rgb(34, 221, 221);
    font-family: 'PT Sans', sans-serif;
    margin-left: 10vw;
    /* margin: 4vw 10vw 2vw; */
    margin-top: 10vw;
}

#subject-header{
    height: 5vh;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    display: flex;
    gap: 1vw;
}

.subject{
    height: 5vh;
    width: 12vw;
    border: black solid 1px;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    font-size: large;
   padding: 15px 0 0px;
   
}

.subject:hover{
    background-color: rgb(69, 39, 12);
    color: white;
    cursor: pointer;
}

.subject:active{
    background-color: rgba(32, 186, 197, 0.4);
    color: black;    
    border: 1px rgba(32, 186, 197, 0.4) solid;  
}

#open-subject{
    margin: auto;
    margin-top: 40px;
    justify-content: center;
    height: 50vh;
    width: 80vw;
    border: black solid 1px;
    overflow: scroll;
    margin-bottom: 5vh;

}

.line{
    background-color: rgba(211, 211, 211, 0.792);
    height: 35px;
}

.line:nth-child(even){
    background-color: rgb(255, 253, 249);
}




#info-wrapper{
    height: 300px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 5vw;
    display: flex;
    justify-content: center;
}

.info-city{
    height: 400px;
    background-color: whitesmoke;
    width: 35vw;
    display: flex;
    align-items: center;
}

.review-city{
    height: 400px;
    background-color: whitesmoke;
    width: 35vw;
    display: flex;
    align-items: center;
}

#text{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-top: 60px;
}
p{
    margin-top: 10px;
    margin-left: 3vw;
    color: turquoise;
    font-size: 2vw;  
    font-weight: 1000;
 
}

.ta-chansen{
    margin-left: 13vw;

}


#image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vw;
    width: 90vw;
    margin-left: 10vh;
    margin-bottom: 1;
    /* margin-right: 5px; */

} 

.box-image{ 
    height: 20vw;
    width: 25vw; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;
    margin: 5px;
  
} 


footer{
    background-color: rgb(69, 39, 12);
    height: 100px;
    width: 100%;
    padding-top: 1vh;
}

.footer{
    color: white;
    text-align: right;
    padding-right: 10vw;
    font-size: large;
    
}

.footer:hover{
    color: rgba(32, 186, 197, 0.8);
}
